In [0]:
# from google.colab import files
# files.upload()

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import os
os.chdir('/content/drive/My Drive')

In [11]:
import pandas as pd
df = pd.read_csv('test_v2.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (417) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df.shape

(210944, 770)

In [19]:
# l = df['loss'][df['loss']==0]
# print(len(l))           #these many 0 are there)
df.shape

(54767, 770)

In [0]:
# for i in range(len(df)):
#   if (df.isnull().any(axis = 'columns')):
#     print(i)
# df.isnull().any(axis = 1)

In [0]:
import numpy as np
# # #Removing -999 values 
# df.replace({-999.0: np.nan}, inplace = True)
# df.dropna(inplace = True)
# #After dropping all the NaN values
# df.info()
# # Missing Values

# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum(axis = 1)
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum(axis = 1) / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[0]) + " rows\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " rows that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [14]:
missing_values_table(df).head(100)

Your selected dataframe has 210944 rows
There are 156177 rows that have missing values.

        Missing Values  % of Total Values
144639             341                0.2
118451             337                0.2
67304              337                0.2
21484              283                0.1
136716             283                0.1
...                ...                ...
25880              158                0.1
148228             158                0.1
99151              157                0.1
126891             156                0.1
201503             156                0.1

[100 rows x 2 columns]

In [0]:
# df.fillna(df.mean(), inplace=True)      #fill the missing value with mean

In [0]:
# import numpy as np
# #Removing -999 values 
# df.replace({-999.0: np.nan}, inplace = True)
# df.dropna(inplace = True)
# #After dropping all the NaN values
# df.info()
# # Missing Values

missing_values_table(df).head(150)            #there are still 12 missing values but the total percentage is less so i dropped them

In [15]:
df.dropna(inplace=True)
missing_values_table(df)

Your selected dataframe has 54767 rows
There are 0 rows that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [0]:
df.to_csv('file1.csv')

In [0]:
# #Removing -999 values
# import numpy as np 
# df.replace({-999.0: np.nan}, inplace = True)
# df.dropna(inplace = True)
# #After dropping all the NaN values
# df.info()